PORT=6969
ENVIRONMENT="development"

# optional cache purge key
PURGE_KEY=""
GITHUB_TOKEN=""

DISABLE_CACHE="true"

ALLOWED_HOSTS=""
VITE_DEVTOOLS=true
VITE_FORWARD_CONSOLE=true

# debug, info, warn, error, fatal (default info)
WRANGLER_LOG="info"
